*.sln binary
*.png binary
*.ico binary
*.rtf binary
*.pfx binary
*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.cvxproj text eol=crlf
*.obproj text eol=crlf
*.appxmanifest text eol=crlf